<div class="sessao-container">

    <h2>Selecione o(s) assento(s)</h2>

    <div class="sessao" *ngIf="sessao">
        <div class="assentos-container">
            <div *ngFor="let assento of sessao.seats" class="assentos" [ngClass]="{
            'disponivel': assento.isAvailable && !isSelecionado(assento.id),
            'selecionado': isSelecionado(assento.id),
            'indisponivel': !assento.isAvailable}" (click)="toggleSeat(assento.id, assento.isAvailable, assento.name)">
                {{ assento.name }}
            </div>
        </div>
        <div class="exemplos-container">
            <div class="exemplos-descricao">
                <div class="assentos selecionado"></div>
                <p>Selecionado</p>
            </div>
            <div class="exemplos-descricao">
                <div class="assentos disponivel"></div>
                <p>Disponível</p>
            </div>
            <div class="exemplos-descricao">
                <div class="assentos indisponivel"></div>
                <p>Indisponível</p>
            </div>
        </div>
    </div>
    <form (ngSubmit)="reservar()">
        <div>
            <label for="nome">Nome do comprador:</label>
            <input id="nome" name="nome" type="text" [(ngModel)]="nome" required placeholder="Digite seu nome..." />
        </div>

        <div>
            <label for="cpf">CPF do comprador:</label>
            <input id="cpf" name="cpf" type="text" [(ngModel)]="cpf" required placeholder="Digite seu CPF..." />
        </div>

        <button type="submit">Reservar assento(s)</button>
    </form>

    <footer>
        <div class="poster-container">
            <img [src]="sessao.movie.posterURL" alt="{{sessao.movie.title}}" width="50" />
        </div>
        <div class="info" > 
            <p>{{sessao.movie.title}}</p> 
            <p>{{sessao.day.weekday}} - {{sessao.name}}</p>
        </div>
    </footer>
</div>